In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from datetime import datetime, date
plt.style.use('ggplot')

In [7]:
# Loading the Customer Demographics Data from the excel file

cust_demo = pd.read_excel('Raw_data.xlsx' , sheet_name='CustomerDemographic')

In [8]:
# Checking first 5 records from Customer Demographics Data

cust_demo.head(5)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13 00:00:00,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [9]:
# Information of columns and data-types of Customer Demographics Data.

cust_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 406.4+ KB

## Number of records

In [10]:
print("Total records (rows) in the dataset : {}".format(cust_demo.shape[0]))
print("Total columns (features) in the dataset : {}".format(cust_demo.shape[1]))

Total records (rows) in the dataset : 4000
Total columns (features) in the dataset : 13

## Dropping Irrelevent Columns### 'Default' is an irrelevant column in the table and can be dropped

In [11]:
# Dropping the default column

cust_demo.drop(labels={'default'}, axis=1 , inplace=True)

## Checking for missing values

In [12]:
# Total number of missing values

cust_demo.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

## we can see missing values for:
1. last_name
2. DOB
3. job_title
4. job_industry_category
5. tenure

### 1.Last name

In [13]:
# Checking for the presence of first name and customer id in records where last name is missing.

cust_demo[cust_demo['last_name'].isnull()][['first_name', 'customer_id']].isnull().sum()

first_name     0
customer_id    0
dtype: int64

Since All customers have a customer_id and First name, all the customers are identifiable. Hence it is okay to not have a last name. Filling null last names with "None".

In [14]:
cust_demo['last_name'].fillna('None',axis=0, inplace=True)

Checking if any missing values in last_name column

In [15]:
cust_demo['last_name'].isnull().sum()

0

### 2.Date of Birth
checking for percent of null values

In [16]:
round(cust_demo['DOB'].isnull().mean()*100)

2

Since only 2% of data has null value, we can remove them.

In [17]:
dob_index_drop = cust_demo[cust_demo['DOB'].isnull()].index
dob_index_drop

Index([ 143,  167,  266,  289,  450,  452,  453,  479,  512,  525,  547,  581,
        598,  679,  684,  798,  838,  882,  891,  949,  974,  982,  995, 1037,
       1043, 1081, 1173, 1209, 1243, 1350, 1476, 1508, 1582, 1627, 1682, 1739,
       1772, 1779, 1805, 1917, 1937, 1989, 1999, 2020, 2068, 2164, 2204, 2251,
       2294, 2334, 2340, 2413, 2425, 2468, 2539, 2641, 2646, 2695, 2696, 2853,
       2919, 2962, 2998, 3011, 3085, 3150, 3221, 3222, 3254, 3287, 3297, 3311,
       3321, 3342, 3364, 3472, 3509, 3512, 3564, 3653, 3717, 3726, 3778, 3882,
       3930, 3934, 3997],
      dtype='int64')

In [18]:
cust_demo.drop(index=dob_index_drop, inplace=True, axis=0)

Checking if any missing values for DOB  column

In [19]:
cust_demo['DOB'].isnull().sum()

0

Creating Age Column for checking further descripency in data

In [22]:
# Converting the "DOB" column to a datetime format 
cust_demo['DOB'] = pd.to_datetime(cust_demo['DOB'])

# To Calculate the current date or a reference date for calculating the age
reference_date = pd.to_datetime('2024-04-23')

# To Calculate the age based on the exact date of birth and the reference date
cust_demo['Age'] = (reference_date - cust_demo['DOB']).dt.days // 365


cust_demo['Age']

0       70
1       43
2       70
3       62
4       46
        ..
3994    48
3995    48
3996    22
3998    50
3999    32
Name: Age, Length: 3913, dtype: int64

In [23]:
cust_demo['Age'].describe()

count    3913.000000
mean       46.309992
std        12.811666
min        22.000000
25%        37.000000
50%        46.000000
75%        56.000000
max       180.000000
Name: Age, dtype: float64

Here we find there is only 1 customer with an age of 177. Clearly this is an outlier since the 75th percentile of Age is 53.

In [25]:
cust_demo[cust_demo['Age'] > 100]

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,Age
33,34,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20.0,180

Here we see a customer with age 177 which is an outlier. hence we need to remove this record.

In [26]:
age_index_drop = cust_demo[cust_demo['Age']>100].index

cust_demo.drop(index=age_index_drop, inplace=True , axis=0)

### 3. Tenure
#### When Date of Birth was Null the Tenure was also Null. Hence after removing null DOBs from dataframe , null tenures were also removed.

In [27]:
cust_demo['tenure'].isnull().sum()

0

### 4.Job title

In [33]:
# Fetching records where Job Title is missing.

round(cust_demo['job_title'].isnull().mean()*100)

13

Since Percentage of missing Job is 13. We will replace null values with Missing.

In [34]:
cust_demo['job_title'].fillna('Missing', inplace=True, axis=0)

In [35]:
cust_demo['job_title'].isnull().sum()

0

Currently there are no mssing values for job_title column.

### 5. Job Industry Category

In [37]:
round(cust_demo['job_industry_category'].isnull().mean()*100)

17

Since Percentage of missing Job Industry Category is 17. We will replace null values with Missing

In [38]:
cust_demo['job_industry_category'].fillna('Missing', inplace=True, axis=0)

In [39]:
cust_demo['job_industry_category'].isnull().sum()

0

#### Finally there are no Missing Values in the dataset.

In [40]:
cust_demo.isnull().sum()

customer_id                            0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
Age                                    0
dtype: int64

In [41]:
print("Total records after removing Missing Values: {}".format(cust_demo.shape[0]))

Total records after removing Missing Values: 3912

## Inconsistency Check in Data

We will check whether there is inconsistent data / typo error data is present in the categorical columns.
The columns to be checked are 'gender', 'wealth_segment' ,'deceased_indicator', 'owns_car'

### 1. Gender

In [42]:
cust_demo['gender'].value_counts()

gender
Female    2037
Male      1872
F            1
Femal        1
M            1
Name: count, dtype: int64

Here there are inconsistent data in gender column.There are spelling mistakes and typos. For gender with value M will be replaced with Male, F will be replaced by Female and Femal will be replaced by Female

In [43]:
def replace_gender_names(gender):
    
    # Making Gender as Male and Female as standards
    if gender=='M':
        return 'Male'
    elif gender=='F':
        return 'Female'
    elif gender=='Femal':
        return 'Female'
    else :
        return gender

cust_demo['gender'] = cust_demo['gender'].apply(replace_gender_names)

In [44]:
cust_demo['gender'].value_counts()

gender
Female    2039
Male      1873
Name: count, dtype: int64

The inconsistent data ,spelling mistakes and typos in gender column are removed.

### 2. Wealth Segment

In [45]:
cust_demo['wealth_segment'].value_counts()

wealth_segment
Mass Customer        1954
High Net Worth        996
Affluent Customer     962
Name: count, dtype: int64

There is no inconsistent data in wealth_segment column.

### 3.Deceased Indicator

In [46]:
cust_demo['deceased_indicator'].value_counts()

deceased_indicator
N    3910
Y       2
Name: count, dtype: int64

There is no inconsistent data in deceased_indicator column.

### 4. Owns a Car

In [47]:
cust_demo['owns_car'].value_counts()

owns_car
Yes    1974
No     1938
Name: count, dtype: int64

There is no inconsistent data in owns_car column.

## Duplication Checks

We need to ensure that there is no duplication of records in the dataset. This may lead to error in data analysis due to poor data quality. If there are duplicate rows of data then we need to drop such records.
For checking for duplicate records we need to firstly remove the primary key column of the dataset then apply drop_duplicates() function provided by Python

In [49]:
cust_demo_dedupped = cust_demo.drop('customer_id', axis=1).drop_duplicates()

print("Number of records after removing customer_id (pk), duplicates : {}".format(cust_demo_dedupped.shape[0]))
print("Number of records in original dataset : {}".format(cust_demo.shape[0]))

Number of records after removing customer_id (pk), duplicates : 3912
Number of records in original dataset : 3912

Since both the numbers are same. There are no duplicate records in the dataset.

## Exporting the Cleaned Customer Demographic Data Set to csv

Currently the Customer Demographics dataset is clean. Hence we can export the data to a csv to continue our data analysis of Customer Segments by joining it to other tables.

In [50]:
cust_demo.to_csv('CustomerDemographic_Cleaned.csv', index=False)